@import '@/styles/_main.scss';

.wrapper {
	background-color: $detail-grey;
	border-radius: 17px;
	padding: 1.5rem;
}

.headerWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 2rem;
}

.title {
	font-size: 1.25rem;
	font-weight: 500;
}

.contentWrapper {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}