@import '@/styles/_main.scss';

.header {
	width: 100%;
	position: sticky;
	z-index: 100;
	top: 0;
	right: 0;
	height: 6rem;
	padding: 1.5rem;
	box-shadow: 1px 1px 11px #9494944d;
	background-color: $white;

	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 4.5rem;
}

.notificationIndicators {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 2.5rem;
}

.profileContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 1rem;
}


.downArrow {
	cursor: pointer;
}