.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  background-color: $list-item-grey;
  border-radius: 17px;
  padding: 1rem 1.5rem;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  align-items: center;
}

.title {
  font-size: 0.875rem;
  font-weight: 500;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.125rem;
}

.row {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.name {
  color: $column-item-row-grey;
  font-size: 0.875rem;
}

.value {
  font-size: 0.875rem;
}

.text {
  font-size: 0.875rem;
}
