.container {
  display: flex;
  column-gap: 1.25rem;
  border: 2px solid $search-grey;
  border-radius: 17px;
  padding: 1.25rem;
  max-width: 100%;
}

.image {
  border-radius: 5px;
}

.selectorWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  row-gap: 0.75rem;
  padding: 0.5rem 0rem;
}

.text {
  font-style: italic;
  font-weight: 300;
  font-size: 0.875rem;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8fcff;
  padding: 1rem;
  border-radius: 5px;
}

.chosenFileText {
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 8rem;
}

.hiddenInput {
  display: none;
}
