.searchContainer {
  flex-grow: 1;
  position: relative;
}

.search {
  width: 100%;
  padding: 0.5rem 1.5rem 0.5rem 2.5rem;
  border: 2px solid $search-grey;
  border-radius: 0.5rem;
  border-radius: 17px;
  height: 3.5rem;
}

.searchIcon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}
