.profileContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.profileContainerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}