.selectContainer {
  position: relative;
  flex-grow: 1;
}

.select {
  width: 100%;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border: 2px solid $search-grey;
  border-radius: 17px;
  height: 3.5rem;
  background: transparent;
  font-size: 1rem;
  line-height: 1.5;
  padding-right: 2.5rem;
}

.placeholder {
  color: $search-grey;
}

.selectIcon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  opacity: 0.5;
}
