.sidebar {
  position: fixed;
  top: 0;
  right: -30rem;
  z-index: 200;
  width: 30rem;
  height: 100%;
  background-color: $white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  border-radius: 17px;

  &.active {
    transform: translateX(-30rem);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 1.5rem;
  height: 100%;
  box-sizing: border-box;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: $black;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.validationText {
  color: $red;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}