@import '@/styles/_main.scss';

.details {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 2.5rem;
	grid-row-gap: 1rem;
	padding: 1rem 1.5rem;
	background-color: $detail-grey;
	border-radius: 17px;
}

.stringDetails {
	display: block;
	line-height: 1.25rem;
}

.twoColumns {
	grid-template-columns: 1fr 1fr;
}

.detailItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 15px;
}

.detailTitle {
	font-size: 1rem;
	font-weight: 450;
}

.detailValue {
	font-size: 1rem;
}