.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.5rem;
  justify-content: space-between;
}

.contentWrapper {
  & > * {
    margin-top: 2rem;
  }
}

.detailsWrapper {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  grid-column-gap: 1.5rem;
}
