.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.5rem;
  justify-content: space-between;
}

.contentWrapper {
  & > * {
    margin-top: 2rem;
  }
}

.titleWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
