.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 34rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.validationText {
  color: $red;
}

.invitationText {
  color: $black;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  margin-top: 2rem;
}