$light-grey: #f8f8f8;
$detail-grey: #f6f6f6;
$search-grey: #ebebeb;
$black: #000;
$green: #67cb65;
$list-item-grey: #e0e4ea;
$white: #fff;
$red: #e74444;
$column-item-row-grey: #6c6c6c;
$orange: #fd633d;
$blue: #d9e5f9;