$light-grey: #f8f8f8;
$detail-grey: #f6f6f6;
$search-grey: #EBEBEB;
$black: #000;
$green: #67CB65;
$list-item-grey: #E0E4EA;
$white: #fff;
$red: #E74444;
$column-item-row-grey: #6C6C6C;
$orange: #FF9533;
$blue: #D9E5F9;